%h1 Listing user_groups

%table.grouptbl
  %tr.grouptbl_tr
    %th.grouptbl_th Group Name
    %th.grouptbl_th User Name
    %th.grouptbl_th
    %th.grouptbl_th

  - @user_groups.each do |user_group|
    %tr.grouptbl_tr
      %td.grouptbl_td_edit{:gid => user_group.id}= user_group.name
      %td.grouptbl_td= user_group.name
      %td.grouptbl_td= link_to 'Edit', edit_user_group_path(user_group)
      %td.grouptbl_td= link_to 'Destroy', user_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= simple_form_for(@user_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit
